* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}

.tarja {
    background-color: #4169E1;
    padding: 20px 0px;
    display: inline-block;
    position: fixed;
    transform: rotate(-45deg);
    top: 40px;
    left: -65px;
}
.tarja a {
    padding: 15px 70px;
    background-color: #4169E1;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
